@use '../../../styles/util' as *
@use '../../../styles/globals/layout.sass' as *

.side-drawer
    position: absolute
    z-index: 101
    width: 100%
    @extend .container

    .nav-links
        padding: 1em
        margin-top: 1em
        border-radius: 5px
        text-align: center
        background-color: var(--white)

        a
            display: block
            padding: 1em 0