@use '../../../styles/util' as *

button
  appearance: none
  border: navajowhite
  background: var(--color-gradient)
  color: var(--white)
  font-weight: 700
  padding: 1em 2em
  border-radius: 2em

  &:hover
    background-color: var(--very-light-gray)