@use '../../../styles/util' as *
@use '../../../styles/globals/layout.sass' as *

h1, h2, h3
    font-weight: 300

h1
    font-size: 40px
    margin-bottom: .5em

h2
    font-size: 30px

h3
    font-size: 20px

@include breakpoint("large")
    h1
        font-size: 50px

    h2
        font-size: 40px

    h3
        font-size: 30px

p
    color: var(--grayish-blue)
    font-weight: 400
    line-height: 1.5
    
section
    @extend .container

    @include breakpoint-down("small")
        text-align: center

    &.hero
        margin-top: 20em

    &.middle
        margin-top: 5em
        padding-top: 5em
        background-color: var(--light-grayish-blue)

        .list
            padding-top: 4em
            padding-bottom: 4em

            .item
                h3
                    text-transform: capitalize
                    margin-top: 1em

    button
        margin-top: 1em

    @include breakpoint("large")
        &.hero
            margin-top: 10em

            > *
                max-width: 400px

        &.middle
            margin-top: 15em

            > *
                max-width: 600px

            .list
                display: grid
                grid-template-columns: repeat(4, 1fr)
                gap: 47px
